{% extends "layout2.html" %}

{% block css_file %}
<link href="/static/journal.css" rel="stylesheet">
{% endblock %}

{% block title %}
Three Done Journals
{% endblock %}

{% block main %}
<section class="container">
    <header>
        Let's write down your Three Done Journals!
    </header>

    <form action="/" method="POST" class="form">
        <div class="input-box">
            <label>When?</label>
            <input autocomplete="off" type="date" name="date" required>
        </div>
        <div class="column">
            <label class="label">1.</label>
            <div class="input-box">
                <input autocomplete="off" type="text" placeholder="The first thing you accomplished" name="first"
                    required>
            </div>
        </div>
        <div class="column">
            <label class="label">2.</label>
            <div class="input-box">
                <input autocomplete="off" type="text" placeholder="The second thing you accomplished" name="second"
                    required>
            </div>
        </div>
        <div class="column">
            <label class="label">3.</label>
            <div class="input-box">
                <input autocomplete="off" type="text" placeholder="The third thing you accomplished" name="third"
                    required>
            </div>
        </div>
        <button href="/calendar">Enter</button>
    </form>
</section>
{% endblock %}
